@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #064b3e;
  --text-color: #261c2c;
  --bg-color: #f3f1f5;

  --big-font: 4rem;
  --h2-font: 2.24rem;
  --h3-font: 1.4rem;
  --p-font: 0.9rem;
}

*::selection {
  background: var(--main-color);
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

/* Start header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 18px 100px;
  box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 20px;
}

.navbar a:hover {
  color: var(--bg-color);
  background: var(--main-color);
}

/* Menu hambuger */
.menu-toggler {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}

.menu-toggler input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}

.menu-toggler span {
  display: block;
  background-color: black;
  width: 28px;
  height: 3px;
  border-radius: 3px;
}

.menu-toggler span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggler span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggler input:checked ~ span:nth-child(2) {
  background-color: #707070;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggler input:checked ~ span:nth-child(4) {
  background-color: #707070;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggler input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* End header */

/* Start home */
section {
  padding: 50px 10%;
}

.home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
  min-height: 90vh;
  padding-top: 10rem;
}

.home-img img {
  width: 100%;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.home-text h1 {
  font-size: 2.8rem;
  color: var(--main-color);
}

.home-text h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #949494;
  margin-bottom: 2rem;
}

.home-text a {
  font-size: 1rem;
}

.btn {
  display: inline-block;
  background: #1cc201;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: var(--bg-color);
  width: 180px;
  text-align: center;
}

.btn:hover {
  background: #03261f;
}

/* Slider */

.slider {
  height: 380px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.home-img {
  width: 20%;
}

.home-img img {
  width: 100%;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  display: flex;
  justify-content: center;
  right: 0;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* Auto */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  right: 0;
  margin-top: 500px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
/* End Home */

/* Start about */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
  min-height: 90vh;
}

.about-img img {
  max-width: 80%;
}

.about-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 20px;
}

.about-text p {
  margin: 0.8rem 0 0.8rem 0;
  font-size: var(--p-font);
}

/*Rent*/
.rent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--text-color);
  color: var(--bg-color);
  min-height: 100vh;
}

.rent-text h2 {
  font-size: var(--h2-font);
  margin-top: 20px;
  font-weight: bolder;
  text-align: center;
}

.rent-text p {
  font-size: var(--p-font);
  font-weight: 500;
  text-align: center;
}

.green {
  color: #1cc201;
}

.rent-car {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.card-rent {
  background: var(--text-color);
  width: 220px;
  height: 300px;
  margin: 10px;
  border-radius: 40px;
  position: relative;
}

.card-rent h3 {
  font-weight: bold;
  font-size: var(--h3-font);
}

.card-image-rent {
  background-color: var(--text-color);
  height: 170px;
  margin-bottom: 15px;
  border-radius: 40px 40px 0 0;
}

.car-1 {
  background-image: url(../images/xsa.png);
  background-size: cover;
  max-height: 150px;
}

.car-2 {
  background-image: url(../images/xx.png);
  background-size: cover;
  max-height: 150px;
}

.car-3 {
  background-image: url(../images/avv.png);
  background-size: cover;
  max-height: 150px;
}

.car-4 {
  background-image: url(../images/inv.png);
  background-size: cover;
  max-height: 150px;
}
.car-5 {
  background-image: url(../images/xe.png);
  background-size: cover;
  max-height: 150px;
}
.car-6 {
  background-image: url(../images/si.png);
  background-size: cover;
  max-height: 150px;
}
.car-7 {
  background-image: url(../images/c.png);
  background-size: cover;
  max-height: 150px;
}
.car-8 {
  background-image: url(../images/pngegg.png);
  background-size: cover;
  max-height: 150px;
}
.car-9 {
  background-image: url(../images/ay.png);
  background-size: cover;
  max-height: 150px;
}
.car-10 {
  background-image: url(../images/ag.png);
  background-size: cover;
  max-height: 150px;
  background-color: var(--text-color);
}
.card-rent a {
  background-color: #1cc201;
  margin-top: 20px;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.card-rent:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.card-rent a:hover {
  background-color: var(--text-color);
  color: #1cc201;
}

/* End Rent */

/*FAQS*/
.faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.faqs-text {
  text-align: center;
}

.faqs-text h2 {
  font-size: var(--h2-font);
  color: var(--main-color);
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: var(--text-color);
  color: var(--bg-color);
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: '\002B';
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: '\2212';
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/* End Faqs */

/*pros*/
.heading-pros h1 {
  justify-content: center;
  display: flex;
  padding-top: 100px;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: var(--h2-font);
  color: var(--main-color);
  margin-top: -50px;
}
.pros-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card-pros {
  background-color: white;
  color: #261c2c;
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 5px 5px;
}
.card-pros h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-pros p {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-pros:hover {
  background-color: var(--text-color);
  color: white;
  transition: 0.3s all ease;
}

/*Testi*/
.testi {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testi-text {
  text-align: center;
  margin-bottom: 60px;
}

.testi-text h2 {
  font-size: var(--h2-font);
  color: var(--main-color);
}

.testimoni-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--bg-color);
  color: var(--text-color);
  /* min-height: 100vh; */
}
.card-tes {
  background: var(--bg-color);
  width: 300px;
  height: 400px;
  border-radius: 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: solid 1px var(--bg-color);
  position: relative;
}

.card-tes p {
  text-align: left;
  padding: 3px 3px;
  color: gray;
  font-style: italic;
  font-size: 0.9rem;
  opacity: 0.6;
}

.card-tes h3 {
  font-weight: bolder;
  font-size: var(--h3-font);
  color: var(--text-color);
  margin: 10px 10px;
}

.card-image-tes img {
  max-width: 100px;
  max-height: 100px;
  background-position: center;
}

.stars {
  position: absolute;
  top: 350px;
  right: 100px;
}

.stars i {
  color: #ffd344;
}

.carousel-cell {
  width: 100%;
}

/* cell number */
.carousel-cell:before {
  display: block;
}

/* Akhir testi */

/* Start contact */
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1.5rem;
  background: var(--text-color);
}

.contact-box h3 {
  margin-bottom: 1rem;
  color: #d9d8da;
}
.contact-box {
  color: #d9d8da;
}

.social {
  display: flex;
  margin-top: 1.5rem;
}

.social i {
  font-size: 20px;
  margin-right: 1rem;
  color: #d9d8da;
}

.social i:hover {
  color: #1cc201;
}

.contact-box li a {
  color: #d9d8da;
}

.contact-box li a:hover {
  color: #1cc201;
}

.address {
  display: flex;
  flex-direction: column;
}

.address i {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.address span {
  margin-left: 1rem;
  cursor: pointer;
}

/* Copyright */
.copyright {
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 1376px) {
  .home-text h1 {
    font-size: 2.25rem;
  }
  .home-text h3 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1133px) {
  .home-text h1 {
    font-size: 2.1rem;
  }
  .home-text h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1100px) {
  .menu-toggler {
    display: flex;
  }

  header .navbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 0;
    background-color: var(--bg-color);
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  header .navbar.slide {
    opacity: 1;
    transform: translateX(0);
  }

  :root {
    --big-font: 3rem;
    --h2-font: 1.7rem;
    --h3-font: 1rem;
  }

  .home-text h1 {
    transition: 1s ease;
    font-size: 2rem;
  }
  .home {
    min-height: 60vh;
  }
  .about {
    min-height: 40vh;
  }
  .slider {
    height: 270px;
  }
  .rent-car {
    justify-content: space-around;
  }
}

@media (max-width: 921px) {
  header {
    padding: 14px 41px;
    transition: 1s ease;
  }
}

@media (max-width: 768px) {
  section {
    padding: 50px 8%;
  }
  .btn {
    padding: 8px 12px;
  }
  .home-text h1 {
    font-size: 2rem;
  }
  .home {
    min-height: 50vh;
    align-items: center;
  }
  .slider {
    height: 220px;
  }
  .about {
    min-height: 40vh;
  }
  .rent-car {
    justify-content: space-around;
  }
  .faqs {
    min-height: 50vh;
  }
  .testi {
    min-height: 80vh;
  }
}

@media (max-width: 715px) {
  header {
    padding: 10px 16px;
  }
  .home {
    grid-template-columns: 1fr;
  }

  .home-img img {
    width: 55%;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img {
    order: 2;
  }
  .slider {
    height: 200px;
  }
  .about-img img {
    max-width: 70%;
  }
}

@media (max-width: 450px) {
  :root {
    --big-font: 1.7rem;
    --h2-font: 1.4rem;
    --p-font: 0.7rem;
  }
  .home-text {
    padding-top: 4rem;
  }
  .home-text a,
  .about-text a {
    font-size: 0.8rem;
  }
  .about-text p,
  h2 {
    text-align: left;
  }
  .home {
    min-height: 10vh;
  }
  .about {
    min-height: 10vh;
  }
  .home-img img {
    width: 80%;
  }
  .slider {
    height: 200px;
  }
  .about-img img {
    max-width: 70%;
  }
}

@media screen and (max-width: 305px) {
  .logo {
    font-size: 0.9rem;
  }
  .home-text h1 {
    font-size: 1.5rem;
  }
  .home-text h3 {
    font-size: 0.7rem;
  }
  .btn {
    padding: 6px 14px;
  }
}
