@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #064B3E;
    --text-color: #261C2C;
    --bg-color: #F3F1F5;

    --big-font: 4rem;
    --h2-font: 2.24rem;
    --h3-font: 1.4rem;
    --p-font: 0.9rem;
}

*::selection{
    background: var(--main-color);
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

/* Start header */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
    text-transform: uppercase;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar .login{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
}

.navbar .login:hover{
    background: black;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* End header */

/* Start home */
section{
    padding: 50px 10%;
    min-height: 100vh;
}

.home{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-img img{
    width: 100%;
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h3{
    font-size: var(--h3-font);
    margin: 1rem 0 1rem;
}

.home-text a{
    font-size: 1rem;
}

.btn{
    display: inline-block;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: var(--bg-color);
}

.btn:hover{
    background: #03261f;
}

/* Slider */

.slider{
    height: 380px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.home-img{
    width: 20%;
}

.home-img img{
    width: 100%;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    right: 0;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* Auto */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    right: 0;
    margin-top: 500px;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
/* End Home */

/* Start about */
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items: center;
}

.about-img img{
    max-width: 80%;
}

.about-text h2{
    font-size: var(--h2-font);
    margin-bottom: 20px;
}

.about-text p{
    margin: 0.8rem 0 0.8rem 0;
    font-size: var(--p-font);
}

/*Rent*/
.rent-container {
    display: flex;
    justify-content: center;
    background-color: #000;
    flex-wrap: wrap;
    color: #fff;
  }
  .armada{
    font-size: 50px;
    margin-top: 20px;
    font-weight: bolder;
  }

.green{
    color: #1CC201;
    
}
.armadap{
    text-align: center;
    margin-bottom: 30px;
}
  .card-rent {
    background: #000;
    width: 220px;
    height: 300px;
    margin: 10px;
    border-radius: 40px;
  }
  .card-rent h2{
    font-weight: bold;
  }
  .card-image-rent {
    background-color: #000;
    height: 170px;
    margin-bottom: 15px;
    border-radius: 40px 40px 0 0;
  }
  .car-1 {
    background-image: url(images/Group\ 11.png);
    background-size: cover;
    max-height: 150px;
    
  }
  .car-2 {
    background-image: url(images/Group\ 12.png);
    background-size: cover;
    max-height: 150px;
    
  }
  .car-3{
    background-image: url(images/avanza.png);
    background-size: cover;
    max-height: 150px;
  }
  .car-4{
    background-image: url(images/innova.png);
    background-size: cover;
    max-height: 150px;
  }
  .car-5{
    background-image: url(images/xenia.png);
    background-size: cover;
    max-height: 150px;
  }
  .car-6{
    background-image: url(images/sigra.png);
    background-size: cover;
    max-height: 150px;
  }
  .car-7{
    background-image: url(images/calya.png);
    background-size: cover;
    max-height: 150px;
  }
  .car-8{
    background-image: url(images/luxio.png);
    background-size: cover;
    max-height: 150px;
  }
  .car-9{
    background-image: url(images/ayla.png);
    background-size: cover;
    max-height: 150px;
  }
  .car-10{
    background-image: url(images/agya.png);
    background-size: cover;
    max-height: 150px;
  }
  .card-rent a{
    background-color: #1CC201;
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
  }
  .card-rent:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .card-rent a:hover{
    background-color: #000;
    color: #1CC201;
  }

  /*FAQS*/
.box{
    width: 470px;
    margin: 10px auto;
    background: #000;
    border-radius: 20px;
    margin-top: 30px;
    border: 1px solid #fff;
  }
  .faqhead{
      font-size: 50px;
      text-align: center;
      font-weight: bold;
  }
  .box .heading{
    background: #000;
    padding: 10px;
    color: #fff;
    text-align: center;
    height: 100px;
  }
  .faqs{
    padding: 10px 20px;
    
  }
  ::-webkit-details-marker{
    float: right;
    margin-top: 3px;
  }
  .details{
    background: #000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
  }
  .drop{
      color: gray;
  }
  summary{
  outline: none;
  font-size: 25px;
  font-weight: bold;
  }



@media(max-width: 1100px){
    #menu-icon{
        display: initial;
        color: var(--text-color);
    }

    header .navbar{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        transition: 0.2s ease;
    }

    .navbar.active{
        top: 100%;
    }

    .navbar a{
        padding: 1.5rem;
        display: block;
    }

    :root{
        --big-font: 3rem;
        --h2-font: 1.7rem;
        --h3-font: 1rem;
    }

    .home-text h1{
        transition: 1s ease;
    }
}

@media(max-width: 921px){
    header{
        padding: 14px 41px;
        transition: 1s ease;
    }
}

@media(max-width: 768px){
    section{
        padding: 50px 8%;
    }
    .btn{
        padding: 8px 12px;
    }
    .home-text h1{
        font-size: 2rem;
    }
}

@media(max-width: 715px){
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        order: 2;
    }
}

@media(max-width: 450px){
    :root{
        --big-font: 1.8rem;
        --h2-font: 1.4rem;
        --p-font: 0.7rem;
    }
    .home-text{
        padding-top: 4rem;
    }
    .home-text a, .about-text a{
        font-size: 0.8rem;
    }
    .about-text p, h2{
        text-align: left;
    }
}